{# templates/forum_post/_form.html.twig #}
{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.contenu) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
