{% extends 'base.html.twig' %}

{% block title %}ForulComment index{% endblock %}

{% block body %}
    <h1>ForulComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forul_comment in forul_comments %}
            <tr>
                <td>{{ forul_comment.id }}</td>
                <td>{{ forul_comment.Contenu }}</td>
                <td>
                    <a href="{{ path('app_forul_comment_show', {'id': forul_comment.id}) }}">show</a>
                    <a href="{{ path('app_forul_comment_edit', {'id': forul_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forul_comment_new') }}">Create new</a>
{% endblock %}
